{% set title = "Estructura de edición. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m77.154 85.876-28 4.942 4.942-28L107.24 9.8a9.296 9.296 0 0 1 13.16 0l9.87 9.87a9.296 9.296 0 0 1 0 13.16Z" stroke-width="14"/><path d="M119 94.038V123.2a9.8 9.8 0 0 1-9.926 9.8H16.926A9.8 9.8 0 0 1 7 123.2V30.8a9.8 9.8 0 0 1 9.926-9.8H46.69" stroke-width="14"/></g></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Editando item
    <span class="c-h3 block normal-case mb-0">Título del item editado (h1)</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar y salir",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Salir",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <h2 class="c-h1">Título de página (h2)</h2>
  <p class="c-paragraph-base">
    Aqui un ejemplo de párrafo explicativo de la página. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, nobis quae amet esse! Accusamus, enim. Corrupti expedita officia perferendis quas dicta earum placeat voluptates, laudantium at, optio minus consequuntur pariatur.
  </p>
  <p class="c-paragraph-base">
    Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> /
    Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a>
  </p>
{% endblock %}