{% set title = "Estructura normal de página. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Título de página (h1)</h1>
  <p class="c-paragraph-base">
    Aqui un ejemplo de párrafo explicativo de la página. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, nobis quae amet esse! Accusamus, enim. Corrupti expedita officia perferendis quas dicta earum placeat voluptates, laudantium at, optio minus consequuntur pariatur.
  </p>
  <p class="c-paragraph-base">
    Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> /
    Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a>
  </p>
{% endblock %}