{% set title = "Acceso. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% set skipLinkHref = "#content-center" %}

{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
    <div class="pb-lg"></div>
    <h1 class="c-h1 mb-sm">Sorteos de Licencia de Caza (AGRCZA)</h1>
  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 lg:gap-xl">
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
        {% include "pages/_page.notification-edit-inner-content.njk" %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <p>Aplicación del Gobierno de Aragón para gestionar los sorteos de Licencia de Caza en todo el territorio de la Comunidad Autónoma de Aragón.</p>
        <!-- iframe Firma -->
        <div class="mt-xl">
          <iframe src="acceso-mfe-iframe-content.html" class="w-full"></iframe>
        </div>
        <!-- /iframe Firma -->
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
  </div>
{% endblock %}








{% block modalBlock %}
  {# javascript para que el iframe se ajuste automáticamente #}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}