{% set title = "Administración - Editar usuario. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{# Cabecera #}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Detalle usuario
    <span class="c-h3 block normal-case mb-0">Francisco Gutierrez de Hoyos</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar y salir",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Salir",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-4 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "html": 'NIF'
      },
      "id": "nif",
      "name": "nif",
      "value": "12345678Z",
      "classes": "w-full"
    })  }}
    {{ componentInput({
      "label": {
        "html": 'Nombre'
      },
      "id": "nombre",
      "name": "nombre",
      "value": "Francisco",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Primer Apellido'
      },
      "id": "apellido1",
      "name": "apellido1",
      "value": "Gutierrez",
      "classes": "w-full"
    })  }}
    {{ componentInput({
      "label": {
        "html": 'Segundo Apellido'
      },
      "id": "apellido2",
      "name": "apellido2",
      "value": "de Hoyos",
      "classes": "w-full"
    })  }}
    {{ componentSelect({
      "id": "rol",
      "name": "rol",
      "classes": "w-full",
      "formGroup": {
        "classes": "self-end"
      },
      "label": {
        "html": 'Rol'
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona una rol...",
          "disabled": true
        },
        {
          "value": 1,
          "text": "Administrador",
          "selected": true
        },
        {
          "value": 2,
          "text": "Usuario"
        }
      ]
    })  }}
    {{ componentDateInput({
      "id": "fechabaja",
      "namePrefix": "fechabaja",
      "fieldset": {
        "legend": {
          "text": "Fecha de baja",
          "classes": "font-normal"
        }
      },
      "classes": "uppercase text-xs mt-xs text-neutral-dark",
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "value": "31"
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "value": "12"
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          },
          "value": "2022"
        }
      ]
    })  }}
  </div>
  
{% endblock %}