{% set title = "Administración - Lista de usuarios. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

{# Definiciones #}
{% set formBusquedaAvanzada %}
  <form id="form-busqueda-avanzada" class="lg:flex lg:flex-wrap gap-x-7 pt-base items-end">
    {{ componentSelect({
      "id": "estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "html": 'Estado'
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un estado...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Activo"
        },
        {
          "value": 2,
          "text": "Inactivo"
        }
      ]
    })  }}
    <ul class="flex flex-wrap gap-sm mb-8">
      <li>
        {{ componentButton({
          "text": "Buscar",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Limpiar"
        })  }}
      </li>
    </ul>
  </form>
{% endset %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:w-full mb-base lg:mb-lg">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="pb-3"></div>
            <h3 class="c-h1 mb-xs">Administración</h3>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
        <div class="order-4 w-full mb-base lg:mb-0">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="mt-lg text-sm uppercase lg:sr-only">Submenú de Administración</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs",
              "items": [
                {
                  "href": "#",
                  "text": "Usuarios",
                  "active": true
                },
                {
                  "href": "#",
                  "text": "Oferta pública de Caza"
                }
              ],
              "attributes": {
                "aria-labelledby": "cabecera-menu"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h2" id="usuarios">Listado de Usuarios</h1>
  
  {# Filtro #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Búsqueda avanzada</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Filtro de búsqueda",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  {# Listado #}
  <section aria-labelledby="usuarios">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Las cabeceras de columna tienen opción de ordenación.</p>
          <p>En la primera columna puedes seleccionar cada fila para editar el detalle de cada registro, mediante el correspondiente botón situado antes de la tabla.</p>
          <p>También puedes crear un nuevo registro mediante el botón situado justo encima de la tabla.</p>
        </div>
    {% endcall %}
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items">
      <h3 id="acciones-items" class="sr-only">Acciones sobre el listado de items</h3>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentMenubar({
          "id": "actions-table-menubar",
          "idPrefix": "actions-table",
          "ariaLabel":"Acciones sobre los registros de la tabla",
          "items": [
            {
              "html": 'Modificar',
              "ariaLabel": "modificar",
              "id": "actions-table-item-1",
              "classes": "c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            },
            {
              "html": 'Nuevo',
              "ariaLabel": "nuevo",
              "id": "actions-table-item-2",
              "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            }
          ],
          "attributes": {
            "aria-label": "Acciones de la tabla"
          }
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones #}    
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-usuarios",
        "caption": "Listado de usuarios",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "hasCheckboxes": true,
        "head": [
          {
            "html": 'NIF',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Nombre',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Apellidos',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Provincia',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Rol',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Estado',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          }
        ],
        "rows": [
          [
            {
              "html": '12345678Z'
            },
            {
              "html": 'Francisco',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Gutierrez de Hoyos',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Zaragoza'
            },
            {
              "html": 'Administrador'
            },
            {
              "html": 'Activo'
            }
          ],
          [
            {
              "html": '65445678Z'
            },
            {
              "html": 'Emilio',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Martínez Caba',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Huesca'
            },
            {
              "html": 'Usuario'
            },
            {
              "html": 'Activo'
            }
          ],
          [
            {
              "html": '98745678Z'
            },
            {
              "html": 'Sara',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Arias Meléndez',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Teruel'
            },
            {
              "html": 'Usuario'
            },
            {
              "html": 'Activo'
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>
  
{% endblock %}