{% set title = "Administración - Editar Oferta pública de Caza. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{# Cabecera #}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Detalle oferta
    <span class="c-h3 block normal-case mb-0">SAR-01</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar y salir",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Salir",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-4 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "html": 'Año'
      },
      "id": "año",
      "name": "año",
      "value": "2022",
      "classes": "w-full"
    })  }}
    <div class="md:col-span-2">
      {{ componentSelect({
        "id": "tipo-permiso",
        "name": "tipo-permiso",
        "classes": "w-full",
        "label": {
          "html": 'Tipo de permiso'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona una Tipo de permiso...",
            "disabled": true
          },
          {
            "value": 1,
            "text": "Sarrio macho trofeo a rececho",
            "selected": true
          },
          {
            "value": 2,
            "text": "Sarrio macho no medallable a rececho"
          },
          {
            "value": 3,
            "text": "Sarrio macho o hembra selectivo a rececho"
          },
          {
            "value": 4,
            "text": "Cabra montés macho trofeo a rececho"
          },
          {
            "value": 5,
            "text": "Cabra montés macho no medallable a rececho"
          },
          {
            "value": 6,
            "text": "Cabra montés control poblacional selectivo a rececho"
          },
          {
            "value": 7,
            "text": "Ciervo macho trofeo a rececho"
          },
          {
            "value": 8,
            "text": "Ciervo macho selectivo a rececho"
          },
          {
            "value": 9,
            "text": "Cérvidos control poblacional selectivo a rececho"
          },
          {
            "value": 10,
            "text": "Ciervo hembra y gabato a rececho"
          },
          {
            "value": 11,
            "text": "Corzo macho trofeo a rececho"
          },
          {
            "value": 12,
            "text": "Batidas"
          },
          {
            "value": 13,
            "text": "Becada"
          }
        ]
      })  }}
    </div>
    {{ componentInput({
      "label": {
        "html": 'Código cinegético'
      },
      "id": "codCinegetico",
      "name": "codCinegetico",
      "value": "SAR-01",
      "classes": "w-full"
    })  }}
    <div class="md:col-span-4">
      {{ componentSelect({
        "id": "terreno-cinegetico",
        "name": "terreno-cinegetico",
        "classes": "w-full",
        "label": {
          "html": 'Terreno cinegético'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona una Terreno cinegético...",
            "disabled": true
          },
          {
            "value": 1,
            "text": "Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala",
            "selected": true
          },
          {
            "value": 2,
            "text": "Cotos sociales de Huesca"
          },
          {
            "value": 3,
            "text": "Reserva de caza de Masías de Ejulve-Maestrazgo"
          },
          {
            "value": 4,
            "text": "Reserva de caza de Los Montes Universales"
          },
          {
            "value": 5,
            "text": "Reserva de caza de La Garcipollera"
          },
          {
            "value": 6,
            "text": "Coto social de Castelfrío y Mas de Tarín"
          },
          {
            "value": 7,
            "text": "Coto social de Alcañicejos-Las Hoyas"
          },
          {
            "value": 8,
            "text": "Coto social de Rueita y Los Landes"
          },
          {
            "value": 9,
            "text": "Coto social de Ainielle"
          },
          {
            "value": 10,
            "text": "Coto social de Artaso y Sieso"
          },
          {
            "value": 11,
            "text": "Coto social de Guarguera"
          },
          {
            "value": 12,
            "text": "Coto social de Isín y Asún"
          },
          {
            "value": 13,
            "text": "Coto social de Pardina de Fanlo"
          },
          {
            "value": 14,
            "text": "Coto social de Nueveciercos"
          },
          {
            "value": 15,
            "text": "Coto social de Solana de Burgasé"
          }
        ]
      })  }}
      {# Fila #}
      <div class="grid md:grid-cols-4 gap-x-7 rounded bg-neutral-light px-base pt-base border-b-4 md:border-b-2 border-white">
        {{ componentInput({
          "id": "reserva-coto-1",
          "name": "reserva-coto-1",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base col-span-2"
          },
          "label": {
            "text": "Reserva/Coto:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "Benasque"
        })  }}  
        {{ componentInput({
          "id": "oferta-autonomica-1",
          "name": "oferta-autonomica-1",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Autonómica:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "2"
        })  }} 
        {{ componentInput({
          "id": "oferta-comunitaria-1",
          "name": "oferta-comunitaria-1",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Comunitaria:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "4"
        })  }} 
      </div>
      {# Fila #}
      <div class="grid md:grid-cols-4 gap-x-7 rounded bg-neutral-light px-base pt-base border-b-4 md:border-b-2 border-white">
        {{ componentInput({
          "id": "reserva-coto-2",
          "name": "reserva-coto-2",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base col-span-2"
          },
          "label": {
            "text": "Reserva/Coto:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "Los Circos"
        })  }}  
        {{ componentInput({
          "id": "oferta-autonomica-2",
          "name": "oferta-autonomica-2",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Autonómica:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "1"
        })  }} 
        {{ componentInput({
          "id": "oferta-comunitaria-2",
          "name": "oferta-comunitaria-2",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Comunitaria:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "4"
        })  }} 
      </div>
      {# Fila #}
      <div class="grid md:grid-cols-4 gap-x-7 rounded bg-neutral-light px-base pt-base border-b-4 md:border-b-2 border-white">
        {{ componentInput({
          "id": "reserva-coto-3",
          "name": "reserva-coto-3",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base col-span-2"
          },
          "label": {
            "text": "Reserva/Coto:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "Los Valles"
        })  }}  
        {{ componentInput({
          "id": "oferta-autonomica-3",
          "name": "oferta-autonomica-3",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Autonómica:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "2"
        })  }} 
        {{ componentInput({
          "id": "oferta-comunitaria-3",
          "name": "oferta-comunitaria-3",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Comunitaria:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "6"
        })  }} 
      </div>
      {# Fila #}
      <div class="grid md:grid-cols-4 gap-x-7 rounded bg-neutral-light px-base pt-base border-b-4 md:border-b-2 border-white">
        {{ componentInput({
          "id": "reserva-coto-4",
          "name": "reserva-coto-4",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base col-span-2"
          },
          "label": {
            "text": "Reserva/Coto:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "Viñamala"
        })  }}  
        {{ componentInput({
          "id": "oferta-autonomica-4",
          "name": "oferta-autonomica-4",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Autonómica:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "2"
        })  }} 
        {{ componentInput({
          "id": "oferta-comunitaria-4",
          "name": "oferta-comunitaria-4",
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Oferta Comunitaria:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "classes": "lg:flex-1 w-full",
          "value": "0"
        })  }} 
      </div>
    </div>
  </div>
{% endblock %}