{% set title = "Listas Asignación. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

{# Definiciones #}
{% set formBusquedaAvanzada %}
  <form id="form-busqueda-avanzada" class="lg:flex lg:flex-wrap gap-x-7 pt-base items-end">
    {{ componentInput({
      "label": {
        "html": 'Año'
      },
      "id": "año",
      "name": "año",
      "placeholder": "Escribe el año",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Código cinegético'
      },
      "id": "codCinegetico",
      "name": "codCinegetico",
      "placeholder": "Escribe el código cinegético",
      "classes": "w-full lg:w-60"
    })  }}
    {{ componentSelect({
      "id": "categoría",
      "name": "categoría",
      "classes": "w-full",
      "label": {
        "html": 'Categoría'
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona una categoría...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Autonónomico"
        },
        {
          "value": 2,
          "text": "Comunitario"
        }
      ]
    })  }}
    <ul class="flex flex-wrap gap-sm mb-8">
      <li>
        {{ componentButton({
          "text": "Buscar",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Limpiar"
        })  }}
      </li>
    </ul>
  </form>
{% endset %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 id="solicitudes" class="c-h1">Listas Asignación</h1>
  
  {# Filtro #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Búsqueda avanzada</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Filtro de búsqueda",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  {# Listado #}
  <section aria-labelledby="asignaciones">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Las cabeceras de columna tienen opción de ordenación.</p>
          <p>En la primera columna puedes seleccionar cada fila para gestionar el detalle de cada registro, mediante el correspondiente botón situado antes de la tabla.</p>
        </div>
    {% endcall %}
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items">
      <h3 id="acciones-items" class="sr-only">Acciones sobre el listado de items</h3>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentMenubar({
          "id": "actions-table-menubar",
          "idPrefix": "actions-table",
          "ariaLabel":"Acciones sobre los registros de la tabla",
          "items": [
            {
              "html": 'Gestionar',
              "ariaLabel": "gestionar",
              "id": "actions-table-item-1",
              "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            }
          ],
          "attributes": {
            "aria-label": "Acciones de la tabla"
          }
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones #}    
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-asignaciones",
        "caption": "Listado de asignaciones",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "hasCheckboxes": true,
        "head": [
          {
            "html": 'Año',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Código cinegético',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Modalidad de caza',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Terreno cinegético',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Categoría',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Reserva/Coto',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'ID Permiso',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Estado',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Solicitud',
            "orderBy": "none",
            "classes": "whitespace-nowrap text-center"
          }
        ],
        "rows": [
          [
            {
              "html": '2022'
            },
            {
              "html": 'SAR-01',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Sarrio macho trofeo a rececho'
            },
            {
              "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Benasque'
            },
            {
              "html": '2022SAR-0102'
            },
            {
              "html": 'Pagada'
            },
            {
              "html": '3333',
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '2022'
            },
            {
              "html": 'SAR-01',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Sarrio macho trofeo a rececho'
            },
            {
              "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Benasque'
            },
            {
              "html": '2022SAR-0102'
            },
            {
              "html": 'Asignada'
            },
            {
              "html": '2222',
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '2022'
            },
            {
              "html": 'SAR-01',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Sarrio macho trofeo a rececho'
            },
            {
              "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Benasque'
            },
            {
              "html": '2022SAR-0102'
            },
            {
              "html": 'No asignada'
            },
            {
              "html": '',
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '2022'
            },
            {
              "html": 'SAR-01',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Sarrio macho trofeo a rececho'
            },
            {
              "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Los Circos'
            },
            {
              "html": '2022SAR-0102'
            },
            {
              "html": 'Asignada'
            },
            {
              "html": '8888',
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '2022'
            },
            {
              "html": 'CM-02',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Cabra montés macho no medallable a rececho'
            },
            {
              "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Los Circos'
            },
            {
              "html": '2022SAR-0102'
            },
            {
              "html": 'No asignada'
            },
            {
              "html": '',
              "classes": "text-center"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>

  {# Paginacion #}
  <div class="mt-xs">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "hasSelect": true,
      "id": "paginas",
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-labelledby": "paginacion"
      }
    })  }}
  </div
{% endblock %}