{% set title = "Listas Asignación Detalle. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}


{# Cabecera #}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Detalle asignación
    <span class="c-h3 block normal-case mb-0">Número 001</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar y salir",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Salir",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <div class="pb-lg"></div>

  {# Seccion oferta #}
  <fieldset>
    <legend class="font-bold">Oferta</legend>
    <div class="grid lg:grid-cols-4 gap-x-7 pt-base">
      {{ componentInput({
        "label": {
          "html": 'ID Permiso'
        },
        "id": "idPermiso",
        "name": "idPermiso",
        "value": "A-2022-SAR01-02-01",
        "classes": "w-full",
        "disabled": true
      })  }}
      <div class="md:col-span-2">
        {{ componentInput({
          "label": {
            "html": 'Tipo de permiso'
          },
          "id": "tipo-permiso",
          "name": "tipo-permiso",
          "value": "Sarrio macho no medallable a rececho",
          "classes": "w-full",
          "disabled": true
        })  }}
      </div>
      {{ componentInput({
        "label": {
          "html": 'Categoría'
        },
        "id": "categoria",
        "name": "categoria",
        "value": "Autonónomico",
        "classes": "w-full",
        "disabled": true
      })  }}
      <div class="md:col-span-3">
        {{ componentInput({
          "label": {
            "html": 'Terreno cinegético'
          },
          "id": "terreno-cinegetico",
          "name": "terreno-cinegetico",
          "value": "Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala",
          "classes": "w-full",
          "disabled": true
        })  }}
      </div>
      {{ componentInput({
        "label": {
          "html": 'Reserva/Coto'
        },
        "id": "reserva-coto",
        "name": "reserva-coto",
        "value": "Benasque",
        "classes": "w-full",
        "disabled": true
      })  }}
    </div>
    <ul class="flex flex-wrap gap-sm mt-sm mb-xl">
      <li>
        {{ componentButton({
          "text": "Buscar dobles permisos",
          "classes": "c-button--sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Buscar renuncia/no pagado",
          "classes": "c-button--sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Permiso desierto",
          "classes": "c-button--sm"
        })  }}
      </li>
    </ul>
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion datos solicitud #}
  <fieldset>
    <legend class="font-bold">Datos Solicitud</legend>
    <div class="grid lg:grid-cols-4 gap-x-7">
      {{ componentInput({
        "label": {
          "html": '<abbr title="Número">Núm.</abbr> solicitud'
        },
        "id": "num-solicitud",
        "name": "num-solicitud",
        "formGroup": {
          "classes": "self-end"
        },
        "value": "001",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Código tramitador'
        },
        "id": "cod-tramitador",
        "name": "cod-tramitador",
        "formGroup": {
          "classes": "self-end"
        },
        "value": "TR-987",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentDateInput({
        "id": "fecha-creacion",
        "namePrefix": "fecha-creacion",
        "fieldset": {
          "legend": {
            "text": "Fecha de creación",
            "classes": "font-normal"
          }
        },
        "classes": "uppercase text-xs mt-xs text-neutral-dark",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "28",
            "disabled": true
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "10",
            "disabled": true
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            },
            "value": "2021",
            "disabled": true
          }
        ]
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Tipo cazador'
        },
        "id": "tipo-cazador",
        "name": "tipo-cazador",
        "value": "Autonónomico",
        "classes": "w-full",
        "formGroup": {
          "classes": "self-end"
        },
        "disabled": true
      })  }} 
      {{ componentSelect({
        "id": "estado",
        "name": "estado",
        "classes": "w-full",
        "label": {
          "html": 'Estado'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona un estado...",
            "disabled": true
          },
          {
            "value": 1,
            "text": "Aceptado",
            "selected": true
          },
          {
            "value": 2,
            "text": "Anulado"
          },
          {
            "value": 3,
            "text": "Agraciado"
          },
          {
            "value": 4,
            "text": "No agraciado"
          }
        ]
      })  }}
      <div class="md:col-span-2">
        {{ componentSelect({
          "id": "subestado",
          "name": "subestado",
          "classes": "w-full",
          "label": {
            "html": 'Subestado'
          },
          "items": [
            {
              "value": 0,
              "text": "Selecciona un subestado...",
              "disabled": true
            },
            {
              "value": 1,
              "text": "Padrón verificado correctamente",
              "selected": true
            },
            {
              "value": 2,
              "text": "Padrón pendiente de revisar"
            },
            {
              "value": 3,
              "text": "No se ha podido comprobar padrón por un error de comunicación"
            }
          ]
        })  }}     
      </div>
    </div>
    {{ componentCheckboxes({
      "idPrefix": "autorizacion-empadronamiento",
      "name": "uso-datos",
      "items": [
        {
          "value": "autoriza",
          "text": "El interesado autoriza que el Servicio de Agricultura pueda verificar sus datos de empadronamiento",
          "disabled": true,
          "checked": true
        }
      ]
    })  }}
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion solicitante #}
  <fieldset>
    <legend class="font-bold">Solicitante</legend>
    <div class="grid lg:grid-cols-3 gap-x-7 py-base">
      {{ componentInput({
        "label": {
          "html": 'Nombre'
        },
        "id": "nombre-solicitante",
        "name": "nombre-solicitante",
        "value": "Santiago",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Primer Apellido'
        },
        "id": "apellido1-solicitante",
        "name": "apellido1-solicitante",
        "value": "Marcuello",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Segundo Apellido'
        },
        "id": "apellido2-solicitante",
        "name": "apellido2-solicitante",
        "value": "Manrique",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'NIF'
        },
        "id": "nif-solicitante",
        "name": "nif-solicitante",
        "value": "18765432Z",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Teléfono'
        },
        "id": "telefono-solicitante",
        "name": "telefono-solicitante",
        "value": "657 444 999",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Correo electrónico'
        },
        "id": "mail-solicitante",
        "name": "mail-solicitante",
        "value": "correo@dominio.com",
        "classes": "w-full",
        "disabled": true
      })  }}
    </div>
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion interesado #}
  <fieldset>
    <legend class="font-bold">Interesado</legend>
    <div class="grid lg:grid-cols-3 gap-x-7 py-base">
      {{ componentInput({
        "label": {
          "html": 'Nombre'
        },
        "id": "nombre-interesado",
        "name": "nombre-interesado",
        "value": "Francisco",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Primer Apellido'
        },
        "id": "apellido1-interesado",
        "name": "apellido1-interesado",
        "value": "Gutierrez",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Segundo Apellido'
        },
        "id": "apellido2-interesado",
        "name": "apellido2-interesado",
        "value": "de Hoyos",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'NIF'
        },
        "id": "nif-interesado",
        "name": "nif-interesado",
        "value": "12345678Z",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Teléfono'
        },
        "id": "telefono-interesado",
        "name": "telefono-interesado",
        "value": "678 555 666",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Correo electrónico'
        },
        "id": "mail-interesado",
        "name": "mail-interesado",
        "value": "correo@dominio.com",
        "classes": "w-full",
        "disabled": true
      })  }}
    </div>
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion preferencias #}
  <fieldset>
    <legend class="font-bold">Preferencia</legend>
    <div class="grid lg:grid-cols-7 gap-x-7 pt-base">
      {{ componentInput({
        "label": {
          "html": 'Código'
        },
        "id": "pref-codigo",
        "name": "pref-codigo",
        "value": "SAR-01",
        "classes": "w-full",
        "disabled": true
      })  }}
      <div class="md:col-span-3">
        {{ componentInput({
          "label": {
            "html": 'Modalidad de caza'
          },
          "id": "pref-mod-caza",
          "name": "pref-mod-caza",
          "value": "Sarrio macho no medallable a rececho",
          "classes": "w-full",
          "disabled": true
        })  }}
      </div>
      <div class="md:col-span-3">
        {{ componentInput({
          "label": {
            "html": 'Terreno cinegético'
          },
          "id": "pref-terreno-cinegetico",
          "name": "pref-terreno-cinegetico",
          "value": "Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala",
          "classes": "w-full",
          "disabled": true
        })  }}
      </div>
    </div>
    <div class="grid lg:grid-cols-5 gap-x-7">
      {{ componentInput({
        "label": {
          "html": 'Categoría'
        },
        "id": "pref-categoria",
        "name": "pref-categoria",
        "value": "Autonónomico",
        "classes": "w-full",
        "disabled": true,
        "formGroup": {
          "classes": "self-end"
        }
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Reserva/Coto'
        },
        "id": "reserva-coto",
        "name": "reserva-coto",
        "value": "Benasque",
        "classes": "w-full",
        "disabled": true,
        "formGroup": {
          "classes": "self-end"
        }
      })  }}
      {{ componentSelect({
        "id": "pref-estado",
        "name": "pref-estado",
        "classes": "w-full",
        "label": {
          "html": 'Estado'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona un estado...",
            "disabled": true
          },
          {
            "value": 1,
            "text": "Renuncia"
          },
          {
            "value": 2,
            "text": "Notificado"
          },
          {
            "value": 3,
            "text": "Aceptado",
            "selected": true
          },
          {
            "value": 4,
            "text": "Pagado"
          }
        ],
        "formGroup": {
          "classes": "self-end"
        }
      })  }}
      {{ componentDateInput({
        "id": "pref-fecha-estado",
        "namePrefix": "pref-fecha-estado",
        "fieldset": {
          "legend": {
            "text": "Fecha estado",
            "classes": "font-normal"
          }
        },
        "classes": "uppercase text-xs mt-xs text-neutral-dark",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "28"
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "10"
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            },
            "value": "2021"
          }
        ]
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'ID Permiso'
        },
        "id": "pref-idPermiso",
        "name": "pref-idPermiso",
        "value": "A-2022-SAR01-02-01",
        "classes": "w-full",
        "disabled": true,
        "formGroup": {
          "classes": "self-end"
        }
      })  }}
    </div>
    <ul class="flex flex-wrap gap-sm mt-sm mb-xl">
      <li>
        {{ componentButton({
          "text": "Ver Solicitud",
          "classes": "c-button--sm"
        })  }}
      </li>
    </ul>
  </fieldset>  

  <hr class="border-neutral-base mb-lg">

  {# Seccion notas #}
  {{ componentTextarea({
    "id": "textarea-notas",
    "name": "notas",
    "label": {
      "text": "Notas",
      "classes": "font-bold"
    },
    "classes": "w-full",
    "formGroup": {
      "classes": "mb-xl pb-base"
    },
    "placeholder": "Escribe aquí tus notas..."
  })  }}

  {# Seccion documentos #}
  {{ componentTable({
    "caption": "Documentos asociados a la solicitud",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "text": "Tipo de documento"
      },
      {
        "text": "CSV"
      },
      {
        "text": "Fecha importación"
      }
    ],
    "rows": [
      [
        {
          "html": 'Formulario TTO'
        },
        {
          "html": '<a href="#" class="c-link">CSV1234567890123CZA</a>'
        },
        {
          "html": '16/05/2021'
        }
      ],
      [
        {
          "html": 'Representante'
        },
        {
          "html": '<a href="#" class="c-link">CSV1234567890123CZA</a>'
        },
        {
          "html": '10/04/2020'
        }
      ],
      [
        {
          "html": 'Adjuntos 1'
        },
        {
          "html": '<a href="#" class="c-link">CSV1234567890123CZA</a>'
        },
        {
          "html": '25/08/2020'
        }
      ]
    ],
    "classes": "w-full"
  })  }}

    <div class="pb-xl"></div>

  {# Seccion cambios estado #}
  {{ componentTable({
    "caption": "Cambios de Estado",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "text": "Estado"
      },
      {
        "text": "Fecha inicio del estado"
      },
      {
        "text": "Solicitud"
      }
    ],
    "rows": [
      [
        {
          "html": 'Renuncia'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '111111'
        }
      ],
      [
        {
          "html": 'Notificado'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '333333'
        }
      ],
      [
        {
          "html": 'Aceptado'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '333333'
        }
      ],
      [
        {
          "html": 'Pagado'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '333333'
        }
      ]
    ],
    "classes": "w-full mt-base"
  })  }}

{% endblock %}