{% set title = "Listas. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

{# Definiciones #}
{% set formBusquedaAvanzada %}
  <form id="form-busqueda-avanzada" class="grid lg:grid-cols-3 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "html": 'Año'
      },
      "id": "año",
      "name": "año",
      "placeholder": "Escribe el año",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'NIF'
      },
      "id": "nif",
      "name": "nif",
      "placeholder": "Escribe el NIF",
      "classes": "w-full"
    })  }}
    {{ componentSelect({
      "id": "categoría",
      "name": "categoría",
      "classes": "w-full",
      "label": {
        "html": 'Categoría'
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona una categoría...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Autonónomico"
        },
        {
          "value": 2,
          "text": "Comunitario"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "html": 'Estado'
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un estado...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Aceptado"
        },
        {
          "value": 2,
          "text": "Anulado"
        },
        {
          "value": 3,
          "text": "Agraciado"
        },
        {
          "value": 4,
          "text": "No agraciado"
        }
      ]
    })  }}
    <div class="md:col-span-2">
      {{ componentSelect({
        "id": "subestado",
        "name": "subestado",
        "classes": "w-full",
        "disabled": true,
        "label": {
          "html": 'Subestado'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona un subestado...",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "Padrón verificado correctamente"
          },
          {
            "value": 2,
            "text": "Padrón pendiente de revisar"
          },
          {
            "value": 3,
            "text": "No se ha podido comprobar padrón por un error de comunicación"
          }
        ]
      })  }}
    </div>
    <ul class="md:col-span-3 flex flex-wrap gap-sm flex-row-reverse">
      <li>
        {{ componentButton({
          "text": "Buscar",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Limpiar"
        })  }}
      </li>
    </ul>
  </form>
{% endset %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 id="solicitudes" class="c-h1">Listas</h1>
  
  {# Filtro #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Búsqueda avanzada</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Filtro de búsqueda",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  {# Listado #}
  <section aria-labelledby="solicitudes">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Las cabeceras de columna tienen opción de ordenación.</p>
          <p>En la primera columna puedes seleccionar cada fila para ver el detalle de cada registro, mediante el correspondiente botón situado antes de la tabla.</p>
          <p>Puedes exportar en formato Excel toda la tabla mediante el botón situado justo encima de la tabla.</p>
        </div>
    {% endcall %}
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items">
      <h3 id="acciones-items" class="sr-only">Acciones sobre el listado de items</h3>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentMenubar({
          "id": "actions-table-menubar",
          "idPrefix": "actions-table",
          "ariaLabel":"Acciones sobre los registros de la tabla",
          "items": [
            {
              "html": 'Ver',
              "ariaLabel": "Ver",
              "id": "actions-table-item-1",
              "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm px-base",
              "href": "#"
            },
            {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" focusable="false" width="1.4em" height="1.4em"><path d="M18 19v-9a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1ZM6.06 17.22a.63.63 0 0 1-.28.84.71.71 0 0 1-.28.06.62.62 0 0 1-.56-.34L4.06 16h-.12l-.88 1.76a.62.62 0 0 1-.56.34.71.71 0 0 1-.28-.06.63.63 0 0 1-.28-.84l1.31-2.61a.28.28 0 0 0 0-.22l-1.31-2.59a.63.63 0 0 1 1.12-.56L3.93 13a.08.08 0 0 0 .14 0c0-.06.87-1.75.87-1.75a.63.63 0 0 1 1.12.56l-1.31 2.58a.28.28 0 0 0 0 .22Zm4.44.9h-2a1.62 1.62 0 0 1-1.62-1.62v-5a.62.62 0 1 1 1.24 0v5a.37.37 0 0 0 .38.37h2a.63.63 0 0 1 0 1.25Zm2.93-4.75 1.84 1.22a1.94 1.94 0 0 1 .85 1.61 1.92 1.92 0 0 1-1.92 1.92h-1.7a.63.63 0 0 1 0-1.25h1.7a.68.68 0 0 0 .68-.67.69.69 0 0 0-.31-.57l-1.84-1.23a1.93 1.93 0 0 1 1.07-3.53h1.7a.63.63 0 0 1 0 1.25h-1.7a.68.68 0 0 0-.37 1.25Z" fill="currentColor" transform="scale(2)"/><path d="M23.71 5.71 18.29.29a1 1 0 0 0-.7-.29H6a2 2 0 0 0-2 2v5.75a.25.25 0 0 0 .25.25h1.5A.25.25 0 0 0 6 7.75V2.5a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25V21.5a.5.5 0 0 1-.5.5H6.25a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 0-.25-.25h-1.5a.25.25 0 0 0-.25.25V22a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7Z" fill="currentColor" transform="scale(2)"/></svg>Exportar toda la tabla',
              "ariaLabel": "ExportarExcel",
              "id": "actions-table-item-2",
              "classes": "c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            }
          ],
          "attributes": {
            "aria-label": "Acciones de la tabla"
          }
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones #}    
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-solicitudes",
        "caption": "Listado de solicitudes",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "hasCheckboxes": true,
        "head": [
          {
            "html": 'Orden',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'NIF',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Nombre',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Apellidos',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Contacto',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Categoría',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Estado',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          },
          {
            "html": 'Subestado',
            "orderBy": "none",
            "classes": "whitespace-nowrap"
          }
        ],
        "rows": [
          [
            {
              "html": '001'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Agustín',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Fernández Diaz',
              "classes": "whitespace-nowrap"
            },
            {
              "html": '666 000 999',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Aceptado'
            },
            {
              "html": 'Padrón verificado correctamente'
            }
          ],
          [
            {
              "html": '002'
            },
            {
              "html": '45645678Z'
            },
            {
              "html": 'Yolanda',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Gimeno Herranz',
              "classes": "whitespace-nowrap"
            },
            {
              "html": '999 000 666',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Comunitario'
            },
            {
              "html": 'Anulado'
            },
            {
              "html": 'Por incoherencia entre solicitud y consulta de Padrón'
            }
          ],
          [
            {
              "html": '003'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Fernando',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Novales Pérez',
              "classes": "whitespace-nowrap"
            },
            {
              "html": '555 000 888',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Aceptado'
            },
            {
              "html": 'Padrón pendiente de revisar'
            }
          ],
          [
            {
              "html": '004'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Ana María',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Mendez Cabo',
              "classes": "whitespace-nowrap"
            },
            {
              "html": '888 000 555',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Autonómico'
            },
            {
              "html": 'Anulado'
            },
            {
              "html": 'Por duplicado'
            }
          ],
          [
            {
              "html": '005'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Juan Carlos',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Iturbe de Montesinos',
              "classes": "whitespace-nowrap"
            },
            {
              "html": '777 000 222',
              "classes": "whitespace-nowrap"
            },
            {
              "html": 'Comunitario'
            },
            {
              "html": 'Aceptado'
            },
            {
              "html": 'Padrón verificado correctamente'
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>

  {# Paginacion #}
  <div class="mt-xs">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "hasSelect": true,
      "id": "paginas",
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-labelledby": "paginacion"
      }
    })  }}
  </div>
{% endblock %}