{% set title = "Listas Detalle. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}


{# Cabecera #}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Detalle solicitud
    <span class="c-h3 block normal-case mb-0">Número 001</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Volver",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <div class="pb-lg"></div>
  
  {# Seccion datos solicitud #}
  <fieldset>
    <legend class="font-bold">Datos Solicitud</legend>
    <div class="grid lg:grid-cols-4 gap-x-7">
      {{ componentInput({
        "label": {
          "html": '<abbr title="Número">Núm.</abbr> solicitud'
        },
        "id": "num-solicitud",
        "name": "num-solicitud",
        "formGroup": {
          "classes": "self-end"
        },
        "value": "001",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Código tramitador'
        },
        "id": "cod-tramitador",
        "name": "cod-tramitador",
        "formGroup": {
          "classes": "self-end"
        },
        "value": "TR-987",
        "classes": "w-full",
        "disabled": true
      })  }}
      <div class="md:col-span-2">
        {{ componentDateInput({
          "id": "fecha-creacion",
          "namePrefix": "fecha-creacion",
          "fieldset": {
            "legend": {
              "text": "Fecha de creación",
              "classes": "font-normal"
            }
          },
          "classes": "uppercase text-xs mt-xs text-neutral-dark",
          "items": [
            {
              "name": "día",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              },
              "value": "28",
              "disabled": true
            },
            {
              "name": "mes",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              },
              "value": "10",
              "disabled": true
            },
            {
              "name": "año",
              "classes": "w-20",
              "attributes": {
                "maxlength": "4"
              },
              "value": "2021",
              "disabled": true
            }
          ]
        })  }} 
      </div>
      {{ componentInput({
        "label": {
          "html": 'Tipo cazador'
        },
        "id": "tipo-cazador",
        "name": "tipo-cazador",
        "value": "Autonónomico",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Estado'
        },
        "id": "estado",
        "name": "estado",
        "value": "Aceptado",
        "classes": "w-full",
        "disabled": true
      })  }}
      <div class="md:col-span-2">
        {{ componentInput({
          "label": {
            "html": 'Subestado'
          },
          "id": "subestado",
          "name": "subestado",
          "value": "Padrón verificado correctamente",
          "classes": "w-full",
          "disabled": true
        })  }}      
      </div>
    </div>
    {{ componentCheckboxes({
      "idPrefix": "autorizacion-empadronamiento",
      "name": "uso-datos",
      "items": [
        {
          "value": "autoriza",
          "text": "El interesado autoriza que el Servicio de Agricultura pueda verificar sus datos de empadronamiento",
          "disabled": true,
          "checked": true
        }
      ]
    })  }}
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion solicitante #}
  <fieldset>
    <legend class="font-bold">Solicitante</legend>
    <div class="grid lg:grid-cols-3 gap-x-7 py-base">
      {{ componentInput({
        "label": {
          "html": 'Nombre'
        },
        "id": "nombre-solicitante",
        "name": "nombre-solicitante",
        "value": "Santiago",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Primer Apellido'
        },
        "id": "apellido1-solicitante",
        "name": "apellido1-solicitante",
        "value": "Marcuello",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Segundo Apellido'
        },
        "id": "apellido2-solicitante",
        "name": "apellido2-solicitante",
        "value": "Manrique",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'NIF'
        },
        "id": "nif-solicitante",
        "name": "nif-solicitante",
        "value": "18765432Z",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Teléfono'
        },
        "id": "telefono-solicitante",
        "name": "telefono-solicitante",
        "value": "657 444 999",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Correo electrónico'
        },
        "id": "mail-solicitante",
        "name": "mail-solicitante",
        "value": "correo@dominio.com",
        "classes": "w-full",
        "disabled": true
      })  }}
    </div>
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion interesado #}
  <fieldset>
    <legend class="font-bold">Interesado</legend>
    <div class="grid lg:grid-cols-3 gap-x-7 py-base">
      {{ componentInput({
        "label": {
          "html": 'Nombre'
        },
        "id": "nombre-interesado",
        "name": "nombre-interesado",
        "value": "Francisco",
        "classes": "w-full",
        "disabled": true
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Primer Apellido'
        },
        "id": "apellido1-interesado",
        "name": "apellido1-interesado",
        "value": "Gutierrez",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Segundo Apellido'
        },
        "id": "apellido2-interesado",
        "name": "apellido2-interesado",
        "value": "de Hoyos",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'NIF'
        },
        "id": "nif-interesado",
        "name": "nif-interesado",
        "value": "12345678Z",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Teléfono'
        },
        "id": "telefono-interesado",
        "name": "telefono-interesado",
        "value": "678 555 666",
        "classes": "w-full",
        "disabled": true
      })  }}
      {{ componentInput({
        "label": {
          "html": 'Correo electrónico'
        },
        "id": "mail-interesado",
        "name": "mail-interesado",
        "value": "correo@dominio.com",
        "classes": "w-full",
        "disabled": true
      })  }}
    </div>
  </fieldset>

  <hr class="border-neutral-base mb-lg">

  {# Seccion preferencias #}
  {{ componentTable({
    "caption": "Preferencias de la solicitud y permiso agraciado",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "html": 'Código',
        "classes": "whitespace-nowrap"
      },
      {
        "html": 'Modalidad de caza',
        "classes": "whitespace-nowrap"
      },
      {
        "html": 'Terreno cinegético',
        "classes": "whitespace-nowrap"
      },
      {
        "html": 'Categoría',
        "classes": "whitespace-nowrap"
      },
      {
        "html": 'Reserva/Coto',
        "classes": "whitespace-nowrap"
      },
      {
        "html": 'Agraciado',
        "classes": "whitespace-nowrap text-center"
      }
    ],
    "rows": [
      [
        {
          "html": 'SAR-01',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Sarrio macho trofeo a rececho'
        },
        {
          "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": 'Benasque'
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'SAR-01',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Sarrio macho trofeo a rececho'
        },
        {
          "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": 'Los Circos'
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'SAR-01',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Sarrio macho trofeo a rececho'
        },
        {
          "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": 'Los Valles'
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'SAR-01',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Sarrio macho trofeo a rececho'
        },
        {
          "html": 'Reservas de caza pirenaicas de Benasque, Los Circos, Los Valles y Viñamala'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": 'Viñamala'
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'SAR-02',
          "classes": "whitespace-nowrap font-semibold bg-success-light"
        },
        {
          "html": 'Sarrio macho no medallable a rececho',
          "classes": "font-semibold bg-success-light"
        },
        {
          "html": 'Reservas de caza de La Garcipollera',
          "classes": "font-semibold bg-success-light"
        },
        {
          "html": 'Autonómico',
          "classes": "font-semibold bg-success-light"
        },
        {
          "html": '',
          "classes": "font-semibold bg-success-light"
        },
        {
          "html": 'SÍ',
          "classes": "font-semibold text-center bg-success-light"
        }
      ],
      [
        {
          "html": 'SAR-03',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Sarrio macho o hembra selectivo a rececho'
        },
        {
          "html": 'Coto social de Ainielle'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": ''
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'CM-01',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Cabra montés macho trofeo a rececho'
        },
        {
          "html": 'Coto social de Isín y Asún'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": ''
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'CM-02',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Cabra montés macho no medallable a rececho'
        },
        {
          "html": 'Coto social de Rueita y Los Landes'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": ''
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'CM-03',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Cabra montés control poblacional selectivo a rececho'
        },
        {
          "html": 'Reservas de caza de los Montes Universales'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": ''
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ],
      [
        {
          "html": 'CIR-01',
          "classes": "whitespace-nowrap"
        },
        {
          "html": 'Ciervo macho trofeo a rececho'
        },
        {
          "html": 'Cotos sociales de Huesca'
        },
        {
          "html": 'Autonómico'
        },
        {
          "html": ''
        },
        {
          "html": 'NO',
          "classes": "text-center"
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full mt-xl"
  })  }}
  {# Paginacion de tabla #}
  <div class="mt-xs">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "hasSelect": true,
      "id": "paginas",
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-labelledby": "paginacion"
      }
    })  }}
  </div>

  <div class="pb-xl"></div>

  {# Seccion documentos #}
  {{ componentTable({
    "caption": "Documentos asociados a la solicitud",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "text": "Tipo de documento"
      },
      {
        "text": "CSV"
      },
      {
        "text": "Fecha importación"
      }
    ],
    "rows": [
      [
        {
          "html": 'Formulario TTO'
        },
        {
          "html": '<a href="#" class="c-link">CSV1234567890123CZA</a>'
        },
        {
          "html": '16/05/2021'
        }
      ],
      [
        {
          "html": 'Representante'
        },
        {
          "html": '<a href="#" class="c-link">CSV1234567890123CZA</a>'
        },
        {
          "html": '10/04/2020'
        }
      ],
      [
        {
          "html": 'Adjuntos 1'
        },
        {
          "html": '<a href="#" class="c-link">CSV1234567890123CZA</a>'
        },
        {
          "html": '25/08/2020'
        }
      ]
    ],
    "classes": "w-full"
  })  }}

  <div class="pb-xl"></div>

  {# Seccion cambios estado #}
  {{ componentTable({
    "caption": "Cambios de Estado (solo muestra las preferencias ofertadas)",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "text": "Estado"
      },
      {
        "text": "Fecha inicio del estado"
      },
      {
        "text": "ID Permiso"
      }
    ],
    "rows": [
      [
        {
          "html": 'Renuncia'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '2022-SAR-02-01-01'
        }
      ],
      [
        {
          "html": 'Renuncia'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '2022-SAR-01-01-01'
        }
      ],
      [
        {
          "html": 'Aceptado'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '2022-SAR-03-01-01'
        }
      ],
      [
        {
          "html": 'Pagado'
        },
        {
          "html": '25/08/2020'
        },
        {
          "html": '2022-SAR-03-01-01'
        }
      ]
    ],
    "classes": "w-full mt-base"
  })  }}

{% endblock %}