{% set title = "Sorteo. Sorteos de Licencia de Caza. Gobierno de Aragón" %}
{% extends "pages/_template.logged.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}



{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Sorteo</h1>
  
  <div class="text-center mb-xl rounded bg-neutral-light p-base">
    {{ componentButton({
      "text": "Iniciar Sorteos",
      "classes": "c-button--primary"
    })  }}
  </div>

  <div class="grid lg:grid-cols-2 gap-x-12">
    {{ componentTextarea({
      "id": "autonomico",
      "name": "autonomico",
      "disabled": true,
      "label": {
        "text": "Autonómico",
        "classes": "font-semibold text-lg"
      },
      "classes": "w-full",
      "rows": 10,
      "value": "Proceso iniciado\nSolicitudes del listado general:3000\nPermisos disponibles: 200\nSemilla: 3453435\nValor aleatorio calculado: 453\n- Permiso SAR-33 asignada a solicitud 453\n- Permiso SAR-16 asignada a solicitud 463\n- ...\nProceso terminado. Todos los permisos se han asignado\n200 solicitudes agraciadas"
    })  }}
    {{ componentTextarea({
      "id": "comunitario",
      "name": "comunitario",
      "disabled": true,
      "label": {
        "text": "Comunitario",
        "classes": "font-semibold text-lg"
      },
      "classes": "w-full",
      "rows": 10,
      "value": "Proceso iniciado\nSolicitudes del listado general:3000\nPermisos disponibles: 200\nSemilla: 3453435\nValor aleatorio calculado: 453\n- Permiso SAR-33 asignada a solicitud 453\n- Permiso SAR-16 asignada a solicitud 463\n- ...\nProceso terminado. Todos los permisos se han asignado\n200 solicitudes agraciadas"
    })  }}
  </div>

{% endblock %}