{% set title = "agrcza-frontend" %}
{% extends "_template.logged-out.njk" %}
{% block contentBlock %}

<div class="prose">
<div class="pb-lg"></div>
  <h1 id="welcome-to-agrcza-frontend-">agrcza-frontend</h1>
  <p><img src="https://img.shields.io/badge/version-1.0.0-blue.svg?cacheSeconds=2592000" alt="Version">
  <img src="https://img.shields.io/badge/npm-%3E%3D6.14.0-blue.svg" alt="Prerrequisito">
  <img src="https://img.shields.io/badge/node-%3E%3D12.18.0-blue.svg" alt="Prerrequisito">
  <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12"><img src="https://img.shields.io/badge/License-EUPL--1.2-yellow.svg" alt="Licencia: EUPL--1.2"></a></p>
  <blockquote>
  <p>agrcza-frontend es el repo de que usa desy-html para gestionar los sorteos de licencia de Caza en Aragón. Una aplicación web del Gobierno de Aragón.</p>
  </blockquote>
  <h2 id="-homepage-https-desy-aragon-es-">Sitio web</h2>
  <p><a href="https://desy.aragon.es/">https://desy.aragon.es/</a></p>
  <h2 id="-repo-">Repositorio</h2>
  <p><a href="https://bitbucket.org/sdaragon/agrcza-frontend/">https://bitbucket.org/sdaragon/agrcza-frontend/</a></p>
  <h2 id="prerequisites">Prerrequisitos</h2>
  <ul>
  <li>npm &gt;=6.14.0</li>
  <li>node &gt;=12.18.0</li>
  </ul>
  <h2 id="install">Instalación</h2>
  <pre><code class="lang-sh">npm <span class="hljs-keyword">install</span>
  </code></pre>
  <h2 id="first-steps">Primeros pasos</h2>
  <p>Descárgate o haz un fork de este repositorio. Personalízalo cambiando el nombre y, si lo necesitas, las rutas de compilación.</p>
  <p>Para compilar el proyecto para producción en la carpeta /dist: compila el HTML, CSS purgeado y minificado para producción y Javascript:</p>
  <pre><code class="lang-sh">npm <span class="hljs-keyword">run</span> prod
  </code></pre>
  <p>Para desarrollar el proyecto: compila el HTML, CSS con todas las clases de Tailwind CSS y Javascript y escucha cambios en los archivos con Browser sync. Para ver el resultado abre una ventana del navegador e introduce la dirección http://localhost:3000/</p>
  <pre><code class="lang-sh">npm <span class="hljs-keyword">run</span> dev
  </code></pre>
  <h2 id="author">Autor</h2>
  <p>SDA Servicios Digitales de Aragón</p>
  <h2 id="-license">Licencia</h2>
  <p>Este proyecto tiene la licencia <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12">EUPL--1.2</a></p>

</div>

{% endblock %}