{% set title = "agrcza-frontend Páginas" %}
{% extends "_template.logged-out.njk" %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Sorteos de Licencia de Caza (AGRCZA) / Páginas y Modelos</span></h1>

  <div class="grid md:grid-cols-2 gap-7 items-start">
    
    <div>{# Columna izquierda #}
      <h2 class="c-h2">Páginas maquetadas</h2>
      <h3 class="c-h3">Inicio</h3>
      <ul class="mb-lg text-sm">
        <!--<li class="mb-sm">
          <a class="c-link" href="templates/pages/test-template.html">Test template</a>
        </li>-->
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/acceso-mfe.html">Página de Acceso</a>
        </li>
      </ul>
      <h3 class="c-h3">Administración</h3>  
      <ul class="mb-lg text-sm">
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/admon-usuarios-lista.html">Usuarios - Listado</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/admon-usuarios-nuevo.html">Usuarios - Nuevo usuario</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/admon-usuarios-editar.html">Usuarios - Editar usuario</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/admon-oferta-caza-lista.html">Oferta pública de Caza - Listado</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/admon-oferta-caza-nuevo.html">Oferta pública de Caza - Nueva oferta</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/admon-oferta-caza-editar.html">Oferta pública de Caza - Editar oferta</a>
        </li>
      </ul>     
      <h3 class="c-h3">Listas</h3>  
      <ul class="mb-lg text-sm">
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/listas.html">Listas</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/listas-detalle.html">Listas - Detalle</a>
        </li>
      </ul>
      <h3 class="c-h3">Sorteo</h3>  
      <ul class="mb-lg text-sm">
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/sorteo.html">Página de Sorteo</a>
        </li>
      </ul>
      <h3 class="c-h3">Listas Asignación</h3>  
      <ul class="mb-lg text-sm">
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/listas-asignacion.html">Listas Asignación</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/listas-asignacion-detalle.html">Listas Asignación - Detalle</a>
        </li>
      </ul>   
    </div>{# /columna izquierda #}    
    
    <div>{# Columna derecha #}
      <h2 class="c-h2">Modelos de estructura</h2>
      <h3 class="c-h3">Estructura principal</h3>
      <ul class="mb-lg text-sm">
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/_modelo_estructura-log-out.html">Estructura de página sin loguear</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/_modelo_estructura-normal.html">Estructura normal de página</a>
        </li>
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/_modelo_estructura-submenu-horizontal.html">Estructura con submenú horizontal</a>
        </li>
      </ul>
      <h3 class="c-h3">Estructura de edición</h3>
      <ul class="mb-lg text-sm">
        <li class="mb-sm">
          <a class="c-link" href="templates/pages/_modelo_estructura-edicion.html">Estructura de Edición normal</a>
        </li>
      </ul>      
    </div>{# /columna derecha #}

  </div>
{% endblock %}